body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    background-position: center;
    color: #ffffff;
    height: 100vh;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 30px;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 40px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #3498db;
}

nav a.menu-item {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

nav a.menu-item:hover {
    color: #3498db;
    font-size: 18px;
}

.text-container {
    text-align: center;
    padding: 50px;
}

.contact-info {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border: 2px solid #3498db;
    border-radius: 10px;
    margin-top: 120px;
    background-color: #111;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contact-info:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(43, 41, 41, 0.4);
}

.contact-info h2 {
    color: #3498db;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 20px;
    color: #ccc;
    font-size: 1.1em;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 15px;
    color: #ccc;
    display: flex;
    align-items: center;
}

.contact-info .icon {
    font-size: 1.8em;
    margin-right: 15px;
    color: #3498db;
}

.contact-info a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #fff;
}

@media (max-width: 600px) {
    .contact-info {
        padding: 20px;
    }

    .contact-info h2 {
        font-size: 1.5em;
    }

    .contact-info p {
        font-size: 1em;
    }

    .contact-info .icon {
        font-size: 1.5em;
    }
}

footer {
    text-align: left;
    padding: 20px;
    color: #fff;
    bottom: 0;
    left: 0;
    font-size: 13px;
    margin-top: 140px;
}

footer p {
    margin: 0;
}