body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    background-position: center;
    color: #ffffff;
    height: 100vh;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 30px;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 40px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #3498db;
}

.text-container {
    text-align: right;
    padding-right: 20px;
}

#projetos {
    margin: 80px auto;
    max-width: 800px;
}

.projeto {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    overflow-x: auto;
    white-space: nowrap;
    opacity: 1;
    transform: translateY(0);
    transition: background-color 0.5s ease;
}

.projeto:hover {
    background-color: #555;
}

.projeto img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin-right: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    transition: transform 0.3s ease;
}

.projeto img:hover {
    transform: scale(1.1);
}

.projeto::-webkit-scrollbar {
    height: 10px;
}

.projeto::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.projeto::-webkit-scrollbar-track {
    background-color: transparent;
}

.calculator-images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.calculator-images img {
    max-width: 400px;
    height: 400px;
    margin-right: 10px;
    box-sizing: border-box;
}

.projeto {
    scrollbar-color: #888 transparent;
}

footer {
    text-align: left;
    padding: 20px;
    color: #fff;
    bottom: 0;
    left: 0;
    font-size: 15px;
}

footer p {
    margin: 0;
}
